<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    <%= f.label "Question text: " %><br />
    <%= f.text_area :name, :rows => 4, :cols => 60%>
  </div>
  <div class="field">
    Select a learning Objective:
    <%= f.collection_select :objective_id, @objectives, :id, :name, include_blank: true %></br>
  </div>
   <ul>
     Select the course(s) that this question can be used for:
  <% @courses.each do |cour| %>
    <% if current_user.department == cour.department %> <li> <%= check_box_tag "question[course_ids][]", cour.id, @question.courses.include?(cour) %> <%=cour.name%> </li><% end %>
  <% end %>
  </ul>
  <ul>
    Select all learning levels appropriate for this question:
  <% @levels.each do |ll| %>
    <% if current_user.department == ll.department %> <li> <%= check_box_tag "question[level_ids][]", ll.id, @question.levels.include?(ll) %> <%=ll.learning_level%> </li><%end %>
  <% end %>
  </ul>
  <ul>
    Select all content areas appropriate for this question:
  <% @content_areas.each do |ca| %>
    <% if current_user.department == ca.department %> <li> <%= check_box_tag "question[content_area_ids][]", ca.id, @question.content_areas.include?(ca) %> <%=ca.name%> </li><%end %>
  <% end %>
  </ul>
  <div class="field">
    <%= f.check_box :available %>
    <%= f.label "Enable this question for use by the exam creator"%><br />
  </div>

<br />

  <%= f.fields_for :question_answers do |qa| %> 
    <%= qa.fields_for :answer do |fa| %>
      <div class="field">
        <%= fa.label "Enter a new answer for this question" %><br />
        <%= fa.text_area :name, :rows => 4, :cols => 60 %>
      </div>
        <div class="field">
        <%= fa.label "Rationale for this answer" %><br />
        <%= fa.text_area :rationale, :rows => 4, :cols => 60 %>
      </div>
    <% end %>
    <div class="field">
      <%= qa.check_box :is_correct %>
       <%= qa.label "Check if this is a correct answer for this question" %>
    </div>
 <% end %>
Please note that additional answers can be added after creating the question by using the edit function  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
