<h1>Listing questions</h1>

<table>
  <tr>
    <th>Question Text :</th>
    <th>Level :</th>
    <th>Learning Objectives :</th>
    <th>Content Areas :</th>
    <th>Value :</th>
    <th>Author :</th>
    <th>Available :</th>
    <th>Locked :</th>
    <th>Department :</th>
    <th>Courses :</th>
  </tr>

<% @questions.each do |question| %>
  <% @courselist = '' %>
    <% question.courses.each do |qc| %>
    <% @courselist = @courselist + qc.name + ',' %>
    <% end %>
  <% @calist = '' %>
    <% question.content_areas.each do |qca| %>
    <% @calist = @calist + qca.name + ',' %>
    <% end %>
  <tr>
    <td><%= question.name %></td>
    <td><%= question.level %></td>
    <td><%= question.learning_objective %></td>
    <td><%= @calist %></td>
    <td><%= question.value %></td>
    <td><%= question.creator.username %></td>
    <td><%= question.available %></td>
    <td><%= question.locked %></td>
    <td><%= question.department.name %></td>
    <td><%= @courselist %></td>
   <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
 <% question.question_answers.each do |question_answer| %>

  <tr>
    <td>Answer: <%= question_answer.answer.name %>
      <% if question_answer.is_correct then %>
         :Correct answer
      <% end %>  
    </td>
  </tr>    
  <% end %>     
<% end %>
</table>

<br />

<%= link_to 'New Question', new_question_path %>
