<h1>Questions list</h1>

<table>
  <tr>
    <th><u>Question Text</u></th>
    <th><u>Learning Levels</u></th>
    <th><u>Learning Objectives</u></th>
    <th><u>Content Areas</u></th>
    <th><u>Author</u></th>
    <th><u>Available</u></th>
    <th><u>Locked</u></th>
    <th><u>Enabled</u></th>
    <th><u>Department</u></th>
    <th><u>Courses</u></th>
  </tr>

<% @questions.each do |question| %>
  <% @courselist = '' %>
    <% question.courses.each do |qc| %>
    <% @courselist = @courselist + qc.name + ',' %>
    <% end %>
  <% @calist = '' %>
    <% question.content_areas.each do |qca| %>
    <% @calist = @calist + qca.name + ',' %>
    <% end %>
  <% @levellist = '' %>
    <% question.levels.each do |ql| %>
    <% @levellist = @levellist + ql.learning_level + ',' %>
    <% end %>
  <tr>
    <td><%= question.name %></td>
    <td><%= @levellist %></td>
    <td><%= question.learning_objective %></td>
    <td><%= @calist %></td>
    <td><%= question.creator.username %></td>
    <td><%= question.available %></td>
    <td><%= question.locked %></td>
    <td><%= question.enable %></td>
    <td><%= question.department.name %></td>
    <td><%= @courselist %></td>
   <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
     <% if question.enable %>
       <td><%= link_to 'Disable Question', enable_question_path(question) %></td>
     <% else %>
       <td><%= link_to 'Enable Question', enable_question_path(question) %></td>
     <%end %>
    <td><%= link_to 'Destroy', question, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
  <% qacount = 0 %>
 <% question.question_answers.each do |question_answer| %>
   <% qacount += 1 %>
  <tr>
  <td>Answer <%=qacount %>: <%= question_answer.answer.name %>
      <% if question_answer.is_correct then %>
         :Correct answer
      <% end %>  
    </td>
  </tr>    
  <% end %>     
<% end %>
</table>

<br />

<%= link_to 'New Question', new_question_path %>
