<p id="notice"><%= notice %></p>
<table>
<tr>
<td>
<b>Question text:</b>
<%= @question.name %>
</td>
</tr>
<tr>
  <td>
    <b>Course List</b>
  </td>
</tr>
<% @question.courses.each do |qc| %>
<tr>
<td>
<%= qc.name %>
</td>
</tr>
<% end %>
<tr>
  <td>
    <b>Learning Levels</b>
  </td>
</tr>
<% @question.levels.each do |ql| %>
<tr>
<td>
<%= ql.learning_level %>
</td>
</tr>
<% end %>
<tr>
  <td>
    <b>Content Areas</b>
  </td>
</tr>
<% @question.content_areas.each do |qca| %>
<tr>
<td>
<%= qca.name %>
</td>
</tr>
<% end %>
<tr>
<td>
<b>Learning Objective:</b>
<%= @question.learning_objective %>
</td>
</tr>
<tr>
<td>
<b>Value:</b>
<%= @question.value %>
</td>

</tr>
<tr>
<td>
<b>Creator:</b>
<%= @question.creator.username%>
</td>
</tr>
<tr>
<td>
<b>Department:</b>
<%= @question.department.name %>
</td>
</tr>
<% @question.question_answers.each do |question_answer| %>

  <tr>
    <td>Answer: <%= question_answer.answer.name %>
      <% if question_answer.is_correct then %>
         :Correct answer
      <% end %>  
    </td>
    <td>Rationale: <%= question_answer.answer.rationale %>
    </td>
  </tr>    
  <% end %>     
</table>

<%= link_to 'Edit', edit_question_path(@question) %> 
<%= link_to 'Back', questions_path %>
