<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user_course.user_id %>
</p>

<p>
  <b>Course:</b>
  <%= @user_course.course_id %>
</p>


<%= link_to 'Edit', edit_user_course_path(@user_course) %> |
<%= link_to 'Back', user_courses_path %>
