<%= form_for(@test_content_area) do |f| %>
  <% if @test_content_area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_content_area.errors.count, "error") %> prohibited this test_content_area from being saved:</h2>

      <ul>
      <% @test_content_area.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :test_id %><br />
    <%= f.number_field :test_id %>
  </div>
  <div class="field">
    <%= f.label :content_area_id %><br />
    <%= f.number_field :content_area_id %>
  </div>
  <div class="field">
    <%= f.label :count %><br />
    <%= f.number_field :count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
