<p id="notice"><%= notice %></p>

<p>
  <b>Test:</b>
  <%= @test_content_area.test_id %>
</p>

<p>
  <b>Content area:</b>
  <%= @test_content_area.content_area_id %>
</p>

<p>
  <b>Count:</b>
  <%= @test_content_area.count %>
</p>


<%= link_to 'Edit', edit_test_content_area_path(@test_content_area) %> |
<%= link_to 'Back', test_content_areas_path %>
