<%= form_for(@exam_level) do |f| %>
  <% if @exam_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam_level.errors.count, "error") %> prohibited this exam_level from being saved:</h2>

      <ul>
      <% @exam_level.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :exam_id %><br />
    <%= f.number_field :exam_id %>
  </div>
  <div class="field">
    <%= f.label :level_id %><br />
    <%= f.number_field :level_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
