<%= form_for(@question_content_area) do |f| %>
  <% if @question_content_area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_content_area.errors.count, "error") %> prohibited this question_content_area from being saved:</h2>

      <ul>
      <% @question_content_area.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question_id %><br />
    <%= f.number_field :question_id %>
  </div>
  <div class="field">
    <%= f.label :content_area_id %><br />
    <%= f.number_field :content_area_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
