<h1>Listing question_content_areas</h1>

<table>
  <tr>
    <th>Question</th>
    <th>Content area</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @question_content_areas.each do |question_content_area| %>
  <tr>
    <td><%= question_content_area.question_id %></td>
    <td><%= question_content_area.content_area_id %></td>
    <td><%= link_to 'Show', question_content_area %></td>
    <td><%= link_to 'Edit', edit_question_content_area_path(question_content_area) %></td>
    <td><%= link_to 'Destroy', question_content_area, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question content area', new_question_content_area_path %>
