<h1>Listing user_submits</h1>

<table>
  <tr>
    <th>User</th>
    <th>Exam</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_submits.each do |user_submit| %>
  <tr>
    <td><%= user_submit.user_id %></td>
    <td><%= user_submit.exam_id %></td>
    <td><%= link_to 'Show', user_submit %></td>
    <td><%= link_to 'Edit', edit_user_submit_path(user_submit) %></td>
    <td><%= link_to 'Destroy', user_submit, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User submit', new_user_submit_path %>
