<h1>Listing user_submits</h1>

<table>
  <tr>
    <th>User</th>
    <th>Exam</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_submits.each do |usersubmit| %>
  <tr>
    <td><%= usersubmit.user_id %></td>
    <td><%= usersubmit.exam_id %></td>
    <td><%= link_to 'Show', usersubmit %></td>
    <td><%= link_to 'Edit', edit_user_submit_path(usersubmit) %></td>
    <td><%= link_to 'Destroy', usersubmit, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User submit', new_user_submit_path %>
