<h1>Listing question_levels</h1>

<table>
  <tr>
    <th>Question</th>
    <th>Level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @question_levels.each do |question_level| %>
  <tr>
    <td><%= question_level.question_id %></td>
    <td><%= question_level.level_id %></td>
    <td><%= link_to 'Show', question_level %></td>
    <td><%= link_to 'Edit', edit_question_level_path(question_level) %></td>
    <td><%= link_to 'Destroy', question_level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question level', new_question_level_path %>
