<%= form_for(@exam) do |f| %>
  <% if @exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% @exam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <p>Select a course: <%= collection_select(:exam, :course_id, @courses, :id, :name, :prompt => true) %></p>
   <ul>
    Select all Learning Levels appropriate for this exam:
  <% @levels.each do |ll| %>
      <li> <%= check_box_tag "exam[level_ids][]", ll.id, @exam.levels.include?(ll) %> <%=ll.learning_level%> </li>
  <% end %>
  </ul>
   <ul>
    Select all content areas appropriate for this exam:
  <% @content_areas.each do |ca| %>
      <li> <%= check_box_tag "exam[content_area_ids][]", ca.id, @exam.content_areas.include?(ca) %> <%=ca.name%> </li>
  <% end %>
  </ul>
 <div class="field">
    <%= f.label "Number of questions to include in this exam" %><br />
    <%= f.number_field :question_count %>
  </div>

<div class="field">
    <%= f.check_box :available %>
    <%= f.label :available %>
  </div>
<div class="field">
    <%= f.check_box :retake %>
    <%= f.label "Allow students to take this exam more than once" %>
  </div>
  <div class="field">
    <%= f.label "Start date/time when exam is available" %><br />
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.label "End date/time when exam becomes unavailable" %><br />
    <%= f.datetime_select :end_date %>
  </div>
 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
