<p id="notice"><%= notice %></p>


<center> <b>Exam Title:</b>
  <%= @exam.title %>
  <br>  <b>Course:</b>
  <%= @exam.course.name %>
  <br>  Current User: <%= current_user.username %>
  <br>  Your grade for this exam: <%= @grade.round(2) %>%</center>

  

<p>
<b>Level:</b>
<%= @exam.level %>
</p>

<p>
  <b>Question Count:</b>
  <%= @exam.question_count %>
</p>
<p>
   <ul>
 <% @exam.exam_questions.each do |tq| %>
  Creator: <%= tq.question.creator.username %>
   <br> 
   Learning Objective: <%= tq.question.learning_objective %>
   <br>
    Question: <%= tq.question.name %> 
   <br>
   <li>Correct answer(s):<br> 
 <% tq.question.question_answers.each do |qa| %>
      <% if qa.is_correct then %>
         <%= qa.answer.name %> <br>
      <% end %>
 <% end %>  
  </li>
  Your Answer(s): 
       <% @user_submit.user_answers.each do |ua| %>
         <% if ua.question_answer.question == tq.question %>
           <br>
           <%= ua.question_answer.answer.name %>
         <% end %>
       <% end %>
      <br>
  <% end %>     
  <br>
</ul>
</p>
  <ul>
    Content areas selected for this exam:
  <% @exam.content_areas.each do |ca| %>
      <li> <%= check_box_tag "exam[content_area_ids][]", ca.id, @exam.content_areas.include?(ca) %> <%=ca.name%> </li>
  <% end %>
  </ul>

<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
