<p id="notice"><%= notice %></p>


<center> <b>Exam Title:</b>
  <%= @exam.title %>
  <br>  <b>Course:</b>
  <%= @exam.course.name %>
  <br>  Created by: <%= @exam.creator.username %></center>

<p>
    <b>Learning Levels selected for this exam:</b>
  <ul>
  <% @exam.levels.each do |ll| %>
      <li> <%= ll.learning_level%> </li>
  <% end %>
  </ul>

  <b>Content areas selected for this exam:</b>
  <ul>
  <% @exam.content_areas.each do |ca| %>
      <li> <%=ca.name%> </li>
  <% end %>
  </ul>
<p>
  <b>Question Count:</b>
  <%= @exam.question_count %>
</p>
<p>
 <% @exam.exam_questions.each do |tq| %>
   <b>Question Creator: </b>   
   <%= tq.question.creator.username %>
   <br> 
   <b>Learning Objective: </b><%= tq.question.learning_objective %>
   <br>
   <b>Question: </b><%= tq.question.name %> 
   <br>
 <% tq.question.question_answers.each do |question_answer| %>
   <b>Answer: </b><%= question_answer.answer.name %>
      <% if question_answer.is_correct then %>
       Correct answer
      <% end %>  
      <br>
  <% end %>     
  <br>
<% end %>     
</ul>
</p>

<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
