<p id="notice"><%= notice %></p>


<center> <b>Exam Title:</b>
  <%= @exam.title %>
  <br>  <b>This exam is intended for students in course:</b>
  <%= @exam.course.name %>
  <br> Exam Created by: <%= @exam.creator.username %>
  <b>This is a level <%= @exam.level %> Exam </b></center>

<p>
</p>

<p>
  <b>Question Count:</b>
  <%= @exam.question_count %>
</p>
<p>
   <ul>
 <% @exam.exam_questions.each do |tq| %>
    Question: <%= tq.question.name %> 
   <br>
 <% tq.question.question_answers.each do |question_answer| %>
   <li> 
   <div class="field">
      <%= question_answer.check_box  "Answer: ", question_answer.answer.name %>
    </div>
    <% end %>  
     <br><br>
  <% end %>     
  <br>
  <br>
</ul>
</p>
<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
