<%= form_for(@user_submit) do |f| %>
  <% if @user_submit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_submit.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @user_submit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
   <% end %>
 <center> <b>Exam Title:</b>
  <%= @exam.title %>
  <br>  <b>This exam is intended for students in course:</b>
  <%= @exam.course.name %>
  <br>  Created by: <%= @exam.creator.username %></center>
<p>
<b>The Learning Levels for this exam:</b>
<% @exam.levels.each do |ll| %>
  <br>
  <%= ll.learning_level %>
<% end %>
</p>
<b>The content areas contained within this exam are:</b>
<% @exam.content_areas.each do |eca| %>
  <br>
  <%= eca.name %>
<% end %>
<p>
  <b>The question count for this exam is:</b>
  <%= @exam.question_count %>
</p>
<b>You must select all correct answers for each question.</b>
<br><b>Exam start time = <%= @user_submit.created_at %> </b>
<p>
<% @questions.sort {rand} %>
   <% i = 0 %>
   <% @questions.each do |q| %>
     <div><b>Question : </b><%= q.name %>
     </div> 
     <% answers = q.question_answers.sort_by {rand()} %>
     <% answers.each do |qa| %>
       <% i = i + 1 %>
       <div>
         <% if  @uahash.has_key?(qa.id) %>
           <%= hidden_field_tag "user_submit[user_answers_attributes][" + i.to_s + "][id]", @uahash[qa.id] %>
           <%= hidden_field_tag "user_submit[user_answers_attributes][" + i.to_s + "][_destroy]", 1 %>
           <%= check_box_tag "user_submit[user_answers_attributes][" + i.to_s + "][_destroy]", 0, true %>
         <% else %>
           <%= check_box_tag "user_submit[user_answers_attributes][" + i.to_s + "][question_answer_id]", qa.id, false %>
         <% end %>
         <%= qa.answer.name %>
     </div>
  <% end %> 
  <br>
<% end %>
 <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
