<%= form_for(@usersubmit) do |f| %>
  <% if @usersubmit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usersubmit.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @usersubmit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
   <% end %>
 <center> <b>Exam Title:</b>
  <%= @exam.title %>
  <br>  <b>This exam is intended for students in course:</b>
  <%= @exam.course.name %>
  <br>  Created by: <%= @exam.creator.username %></center>

<p>
<b>The level of this exam is:</b>
<%= @exam.level %>
</p>
The content areas contained within this exam are:
<% @exam.content_areas.each do |eca| %>
  <br>
  <%= eca.name %>
<% end %>
<p>
  <b>The question count for this exam is:</b>
  <%= @exam.question_count %>
</p>
Select all correct answers for each question.
<p>
      <% @questions.each do |q| %>
     <div>   Question : <%= q.name %>
     </div>
     <% q.answers.each do |qa| %>
     <div>   Answer : <%= qa.name %>
     </div>
  <% end %> 
  <br>
<% end %>
 <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
