<%= form_for(@test) do |f| %>
  <% if @test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% @test.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <p>Select a course: <%= collection_select(:test, :course_id, @courses, :id, :name, :prompt => true) %></p>
  <p>Select a level: <%= f.select(:level, options_for_select([ "1", "2", "3", "4" ], "1")) %></p>
   <ul>
    Select all categories appropriate for this test:
  <% @categories.each do |cat| %>
      <li> <%= check_box_tag "test[category_ids][]", cat.id, @test.categories.include?(cat) %> <%=cat.name%> </li>
  <% end %>
  </ul>
 <div class="field">
    <%= f.label "Number of questions to include in this test" %><br />
    <%= f.number_field :question_count %>
  </div>

<div class="field">
    <%= f.label :available %><br />
    <%= f.check_box :available %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
