<p id="notice"><%= notice %></p>

<p>
<center> <b>Test Title:</b>
  <%= @test.title %>
</p>

  <b>Course:</b>
  <%= @test.course.name %>
  <br>  Created by: <%= @test.creator.username %></center>

<p>
<b>Level:</b>
<%= @test.level %>
</p>

<p>
  <b>Question Count:</b>
  <%= @test.question_count %>
</p>
<p>
   <ul>
 <% @test.test_questions.each do |tq| %>
  Creator: <%= tq.question.creator.username %>
   <br> 
   Learning Objective: <%= tq.question.learning_objective %>
   <br>
    Question: <%= tq.question.name %> 
   <br>
 <% tq.question.question_answers.each do |question_answer| %>
     <li>    Answer: <%= question_answer.answer.name %>
      <% if question_answer.is_correct then %>
         :Correct answer
      </li>
      <% end %>  
  <% end %>     
  <br>
<% end %>     
</ul>
</p>
  <ul>
    Content areas selected for this test:
  <% @test.content_areas.each do |ca| %>
      <li> <%= check_box_tag "test[content_area_ids][]", ca.id, @test.content_areas.include?(ca) %> <%=ca.name%> </li>
  <% end %>
  </ul>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
