<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @question_category.category_id %>
</p>

<p>
  <b>Question:</b>
  <%= @question_category.question_id %>
</p>


<%= link_to 'Edit', edit_question_category_path(@question_category) %> |
<%= link_to 'Back', question_categories_path %>
