<!DOCTYPE html>
<html>
<head>
  <title>UMA Exams</title>
  <%= stylesheet_link_tag 'exams', :media => :all %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body id="exams">
  <div id="banner"> 
    <img src=<%= image_path("UMAlogo.jpg") %> width="128" height="77" alt="UMA Logo" />
    <h3><%= @page_title || "University of Maine at Augusta - Online Exam Application" %></h3>
   <p id="notice"><%= notice %></p>
  </div>
 <div id="columns">
    <div id="side">
      <a href="http://exams.uma.edu/">Home</a><br />
      <a href="http://exams.uma.edu/answers">Answers</a><br />
      <a href="http://exams.uma.edu/content_areas">Content Areas</a><br />
      <a href="http://exams.uma.edu/courses">Courses</a><br />
      <a href="http://exams.uma.edu/questions">Questions</a><br />
      <a href="http://exams.uma.edu/tests">Tests</a><br />
    </div>   
   <div id="main">
    <%= yield %>
   </div>

 </div>   
</body>
</html>
