<!DOCTYPE html>
<html>
<head>
  <title>UMA Exams</title>
  <%= stylesheet_link_tag 'exams', :media => :all %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body id="exams">
  <div id="banner"> 
    <img src=<%= image_path("UMAlogo.jpg") %> width="128" height="77" alt="UMA Logo" />
    <h3><%= @page_title || "University of Maine at Augusta - Online Exam Application" %></h3>
   <p id="notice"><%= notice %></p>
  </div>
 <div id="columns">
    <div id="side">

      <%= link_to "Home", root_path %><br>
      <%= link_to "Exams", exams_path %><br>
      <hr>
      <font color="#ff0000">Faculty only</font>
      <%= link_to "Content Areas", content_areas_path %><br>
      <%= link_to "Courses", courses_path %><br>
      <%= link_to "Questions", questions_path %><br>
    </div>   
   <div id="main">
    <%= yield %>
   </div>

 </div>   
</body>
</html>
